<% if notice %>
<aside id="notice"><%= notice %></aside>
<% end %>

<table class="rippletable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Message</th>
      <th>Posted</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ripples.each do |ripple| %>
      <tr>
        <td><%= contains_url ripple %></td>
        <td><%= truncate(ripple.message, length: 80) %></td>
	<td><%= ripple.created_at %></td>
        <td><%= link_to 'Show', ripple %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ripple', new_ripple_path %>
<% if @page > 0 %> 
  <%= link_to 'Previous 10 Ripples', ripples_previous_path %>
<% else %>
  <i id="last">Previous 10 Ripples </i>
<% end %>
<% if @ripples.count < 10 || @ripples[9].id == @min_id %>
  <i id="next">  Next 10 Ripples</i>
<% else %> 
  <%= link_to 'Next 10 Ripples', ripples_next_path %>
<% end %>
<%= link_to 'Oldest', ripples_oldest_path %>
<%= link_to 'Newest', ripples_path %>

