/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  margin: 0;
  padding: 0;
}
header.main {
  padding: 3em;
  background: blue;
  color: white;
}
table.rippletable {
  width: 100%;
  th {
    background: white;
  }
  tr:nth-child(odd){
    background: #49D;
  }
}
p.message {
  font-size: 2em;
  border-radius: 1em;
  border: solid thin #49D;
  padding: 2em;
  line-height: 125%;
  text-decoration-style: wavy;
  word-spacing: .344em;
  text-shadow: 2px 2px #888;
}
