<!DOCTYPE html>
<html>
  <head>
    <title>Consciousmess</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="main">
      <h1>CONSCIOUS/mess</h1>
      <h3>...a stream of anonymous ramblings</h3>
    </header>
    <main class="ripple">
      <%= yield %>
    </main>
  </body>
</html>
